<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <% include ../static/partials/messages.ejs %>

      <h1>Edit Product</h1>

      <form action="/grocery/<%= product.groceryId %>/products/<%= product.id %>/update" method="post">
        <div class="form-group">
          <label for="title">Product title</label>
          <input value="<%= product.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
          <label for="purchased">Mark as purchased</label>
          <select class="selectpicker" data-style="btn-info" name="selectpicker">
              <optgroup label="Purchased?">
                  <option name="purchased" value="true">Yes</option>
                  <option name="purchased" value="false">No</option>
              </optgroup>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>